<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex 101 Clone</title>
</head>
<body>
    <h1>Regex 101</h1>
    <form method="post">
        <label for="test_string">Enter Test String :</label>
        <input id="test_string" type="text" name="test_string" value="" required>
        <br></br>
        <label for="regex">Enter Regex : </label>
        <input id="regex" type="text" name="regex" value="" required>
        <br></br>
        <input type="submit" value="Search Matches">
    </form>
</body>
</html>